body {
    margin: 0;
    padding: 0;
}

.navbar {
  
}
ul {
    /* display: flex; */
}
li {
    list-style: none ;
    display: inline;
    padding: 1rem;
}

.container {
    text-align: center;
    padding: 1rem;
    
    width: 50%;
    margin: auto;
}

button {
    margin: 1rem;
    padding: 5px;
}

.bulb {
    margin: 1rem;
    height: 100px;
    width: 100px;
}

.toggle1 {
    background-color: red;
}

.toggle2 {
    background-color: blue;
}

.toggle3 {
    background-color: green;
}